$maxMobile:"(max-width:767px)";
$maxSmall:"(max-width:991px)";
$minSmall:"(min-width: 768px) and (max-width: 1050px)";
$minMedium:"(min-width:992px)";
$minLarge:"(min-width:1200px)";
$mainColor: #0357a8;
$secondColor: #11e4ea;
