<div class="information">
  <div class="container">
    <div class="head-info">
      <div class="info-left">
        <p>
          <i class="fa fa-newspaper-o " aria-hidden="true"></i>
          Basic Information
        </p>
      </div>
      <div class="info-right">
        <p>
          Status :
          <span>Pending</span>
        </p>
      </div>
    </div>
    <div class="info-form">
      <form>
        <div class="row">
          <div class="form-group col-md-4">
            <kendo-label text="Purchase Requisition Code" class="col-md-4 label-info"></kendo-label>
            <div class="col-xs-12 col-md-12">
              <input id="input" class="inputText"  placeholder="PR Code is automatically generted"/>
          </div>
          </div>
          <div class="form-group  col-md-4">
            <kendo-label text="Warehouse *" class="col-md-4 label-info"></kendo-label>
            <div class="col-xs-12 col-md-12">
              <kendo-datepicker  [(ngModel)]="date" name="date" placeholder='Select Deliver to Whom'>
              </kendo-datepicker>
            </div>
          </div>
          <div class="form-group  col-md-4">
            <kendo-label text="Preferred Delivery Date *" class="col-md-4 label-info"></kendo-label>
            <div class="col-xs-12 col-md-12">
              <kendo-dropdownlist [data]="listItems" [value]="'Select Preferred Delivery Date '">
              </kendo-dropdownlist>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
